@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #050828;
    font-family: sans-serif;
}

#banner {
    margin-top: 50px;
}

.banner_items {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.card {
    width: 350px;
    height: 475px;
    border-radius: 20px;
    border: 2px solid rgba(128, 128, 128, 0.379);
    background-color: #0d102f;
    transition: .3s ease-in-out;
}

.image {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 25px;
    position: relative;
}

.icon {
    position: absolute;
    top: 28px;
    left: 277px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(33 44 65 /35%);
    border-radius: 3px;
    backdrop-filter: blur(15px);
}

.icon i {
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.icon i:hover {
    color: #f70361;
}

.image img {
    width: 305px;
    height: 305px;
    border-radius: 30px;
    cursor: pointer;
}

.image button {
    width: 155px;
    height: 50px;
    background-color: white;
    border-color: transparent;
    border-radius: 30px;
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: .3s ease-in-out;
    transform: translateY(40px);
    opacity: 0;
}

.btn {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image button span {
    font-size: 15px;
    font-family: sans-serif;
    color: #050828;
}

.image button i {
    color: #f70361;
}

.image button:hover {
    background-color: #f70361;
}

.image button:hover span{
    color: white;
}

.image button:hover i{
    color: white;
}

.footer {
    padding: 0 20px;
}

.header_items {
    display: flex;
    justify-content: space-between;
}

.header_items h1{
    color: white;
    font-family: "Michroma",sans-serif;
    font-size: 17px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.header_items h1:hover {
    color: #f70361;
}

.circle {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: rgb(244, 45, 78);
}

.footer_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.footer_left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.right_items {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer_right {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.left_item img {
    width: 45px;
    height: 45px;
    border-radius: 15px;
}

.footer_items p {
    color: white;
    font-size: 14px;
}

.footer_items span {
    color: white;
    font-size: 14px;
    font-family: "Michroma", sans-serif;
}

/* Animations */
.card:hover {
    transform: translateY(-10px);
    border-color: #f70361;
}

.card:hover .image button {
    transform: translateY(0px);
    opacity: 1;
}



@media (max-width: 768px)
{
    .banner_items{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}